<h1>Student Login Page</h1>

<%= form_tag sessions_path do %>
  <%= collection_select(:student, :name, Student.all, :name, :id)
  <%= text_field_tag(:password) %><br>
  <%= submit_tag "Log In" %>
<% end %>
