<div class="container text-center">

<h1>Welcome to Food Emissions Log</h1>
<p>
<%= link_to "Signup", signup_path %></p>
OR
<%= link_to "Login", login_path %><br>

<%= link_to "Sign in or Log In with Google", "/auth/google_oauth2" %><br>

<%= link_to "Sign in or Log In with Github", "/auth/github" %>

</div>
