<div class="container text-center">
  <h1>Welcome to Food Emissions Log</h1>
</div>
<div class="container text-left" id="app info">
  <p>This app is designed for AP Environmental Science classes that are studying greenhouse gas emissions from thier own diets.  There are several websites with good data about the emissions produced by specific types of foods.  However, it can take a lot of time to visit each site to find the foods for your own diet. With this app, classes of students can collaborate to find and collect data on the foods they eat into one list.  As the list grows, students will not need to spend as much time visiting multiple websites to find the data they need to calculate the greenhouse gas emissions from their diets.</p><br>

  <h3>Directions for use:</h3><br>
  <h5>Who?</h5>
  <p>Anyone can view the log of food emission data collected by students. To add food emissions data, you must be logged in. </p>
    <div class="container text-left" id="Signup links">
    <%= link_to "Sign in with Google", "/auth/google_oauth2" %>   OR

    <%= link_to "Sign in with Github", "/auth/github" %> <br>
    <p> Or create an account here:
    <%= link_to "Signup", signup_path %>
    or
    <%= link_to "Login", login_path %></p>
    </div>

  <h5>Where do I find data?</h5>
  <p>A list of websites with food emissions data is provided below. You can also find data on other websites to add to this app.</p>
  <a href="http://css.umich.edu/factsheets/carbon-footprint-factsheet">CARBON FOOTPRINT FACTSHEET from University of Michigan</a><br>
  <a href="http://www.foodemissions.com/foodemissions/Calculator.aspx">Food Emissions Calculator from CleanMetrics</a><br>
  <a href="http://www.eatlowcarbon.org/">Eat Low Carbon</a>
  <a href="https://www.nu3.de/c/food-carbon-footprint-index-2018/">Food Carbon Footprint Index</a><br>
  <br>


  <h5>Units for Emissions</h5>
  <p>Each emission must include the unit that the emissions are measured in.  If you find data that is measured in a different unit, calculate or use an online unit converter to enter the amount with one of the four unit options provided.</p>

  <p>Depending on the website you use, emissions may be provided in carbon dioxide, methane, or CO2e units.  CO2e is the most accurate for food emissions since it takes into account different sources of emissions throughout the food production cycle.  Make sure to read about how the emissions are calculated on each website that you use. </p><br>

</div>
