<h1>Student show page</h1>

<h2>Emissions added by: <%= @student.name %> </h2>

<% if !@student.emissions.empty? %>
  <%= render :partial => "shared/emission_grid", locals: { emissions: @student.emissions } %><br>
<% else %>
  <%= link_to "Add your first emission", new_emission_path %>
<% end %>
