<div class="container text-center">
  <h2><%= @food.name %></h2>

  <%= render :partial => "shared/food_grid", locals: { emissions: @food.emissions } %><br>

  <%= link_to "Add emission data for #{@food.name}", new_food_emission_path(@food) if logged_in? %>
</div>
<br>
