<div class="container text-left" >
<h2>Update Emissions Information:</h2>

<%= form_for(@emission) do |f| %>
  <%= render partial: "emission_form", locals: {f: f } %>
<% end %> <br>

<%= button_to "Delete this emission", { :action => "destroy", :id => @emission.id }, :confirm => "Are you sure?", :method => :delete %> <br>

<%= link_to "Edit name or category for #{@emission.food.name}", edit_food_path(@emission.food) %>

</div>
